* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;

    background-color: black;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid black;
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-Y: hidden;

    font-size: 10%;
}

#startScreen::after {
    content: "";
    background: url('bg.png');
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

#bird {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotateZ(-30deg) translate(-20%, -2%);

    height: 80%;
    user-select: none;
}

#phone {
    position: absolute;
    bottom: 20px;
    right: 10%;

    height: 80%;

    user-select: none;
}

#startScreen h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    font-size: 70px;
    text-align: center;
}

#gameOwerScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#gameOwerScreen h1,
#gameOwerScreen p {
    position: absolute;
    top: calc(50% - 100px);
    left: 50%;
    
    padding: 5px;
}

#gameOwerScreen h1 {
    transform: translate(-50%, 0);
}

#gameOwerScreen p {
    transform: translate(-50%, 40px);
}

#gameOwerScreen *::selection,
#startScreen *::selection,
#startButton::selection {
    background-color: pink;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    border: none;
    color: #000;
    font-size: 300%;
    background-color: #b83a4f;
}

#startButton:focus {
    outline: 4px solid black;
}

#muter {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 200px;
    height: 50px;
    border: none;

    color: gray;
    background-color: rgba(0,0,0,0);

    z-index: 9;
    user-select: none;
}

#muter:focus {
    outline: 4px solid black;
}

@media (max-width: 900px) {
    #phone {
        display: none;
    }
    #bird {
        transform: rotateZ(-30deg) translate(-40%, -10%);
    }
    * {
        user-select: none;
    }

}

@media (max-width: 700px) {
    #startButton {
        font-size: 200%;
    }
}

@media (max-width: 500px) {
    #startButton {
        font-size: 100%;
    }
}